{% extends 'base.html' %}

{% block content %}
<div class="fixed text-3xl text-white font-mono font-semibold top-[12%] left-[10%]"> Relationship: Emperor Penguins and Their Prey</div>
<div class="fixed w-[20%] h-[56%] border-4 border-yellow-500 top-[23%] left-[60%] animate-fadeRight">
    <div class="mt-5 ml-2 mr-1 text-white font-mono">
      Emperor Penguins mainly feed on antarctic silverfish, fish, krill and squid that congregate near or under ice shelves.<sub>2</sub>
      <br><br>
      However, due to climate change and changing temperatures, the population of krill has been steadily declining. <sub>3</sub>
      <br><br>
      On a good day, an emperor penguin will eat about 2-3kg, or double that to store up body fat. <sub>4</sub>
    </div>
</div>

<div  class="h-[50%] w-fit font-mono text-center text-white  font-normal border-2 border-yellow-500 fixed top-[27%] left-[10%] animate-fadeRight">
        <img src="/static/images/EmpPengHunt.jpg" class="h-full w-auto ">
        <div>Emperor Penguins on the Hunt<sub>1</sub></div>
</div>

<a href="/comp-4">
    <button id="pageButton" class="bg-green-700 transition-colors ease-in-out duration-500 hover:bg-yellow-500 border-green-700 text-white text-3xl font-semibold font-mono py-2 px-4 border h-[10%] w-[13%] rounded z-30 bottom-[10%] right-[20%] fixed">
        Proceed
    </button>
</a>



    



{% endblock %}
