{% extends 'base.html' %}

{% block content %}
<div class="fixed text-3xl text-white font-mono font-semibold top-[12%] left-[10%]"> Relationships & Interspecific Competition: Predators</div>
<div class="fixed w-[20%] h-[56%] border-4 border-yellow-500 top-[23%] left-[60%] animate-fadeRight">
    <div class="mt-5 ml-2 mr-1 text-white font-mono">
      As one of the only habitants of the Antarctic, there is not much competition faced by the Emperor Penguins.
      They are hunted by Leopard Seals and Killer Whales, which also compete for antarctic krill, fish, and squid.<br><br>
      
      Chicks and eggs are at danger of being hunted by Skuas, the Antarctic Petrel, and other large birds. <sub>1</sub>
    </div>
</div>

<div  class="h-[50%] w-fit font-mono text-center text-white  font-normal border-2 border-yellow-500 fixed top-[27%] left-[25%] ">
        <img src="/static/images/theEmperorStands.jpg" class="h-full w-auto opacity-0 hover:opacity-100 ease-in-out duration-700">
        <div>Warning: Graphic Image Please Hover <br> The Emperor stands tall after an attack.</div>
</div>

    

<a href="/finish">
  <button id="pageButton" class="bg-green-700 transition-colors ease-in-out duration-500 hover:bg-yellow-500 border-green-700 text-white text-3xl font-semibold font-mono py-2 px-4 border h-[10%] w-[13%] rounded z-30 bottom-[10%] right-[20%] fixed">
      Proceed
  </button>
</a>


{% endblock %}
