{% extends 'base.html' %}


{% block content %}

<div class=" top-[45%] left-[18%] opacity-25 hover:opacity-100 transition-opacity duration-1000  ease-in-out h-[60%] w-[60%] fixed">
  <img src="/static/images/OutlineAntarctica.svg" class="absolute h-full w-full">
</div>

<div class="h-[50%] w-fit fixed top-[60%] left-[10%] ease-in-out opacity-25 hover:opacity-100 transition-opacity duration-1000 z-20">
  <img src="/static/images/goldPeng.png" class="h-full w-auto ">
</div>

<div class="h-[50%] w-fit fixed top-[60%] right-[10%] ease-in-out opacity-25 hover:opacity-100 transition-opacity duration-1000 z-20">
  <img src="/static/images/flipGoldPeng.png" class="h-full w-auto ">
</div>

<div class="h-full w-full flex justify-center">
<div class="z-20 text-5xl text-white font-mono font-semibold fixed top-[30%]"> 
  Congratulations! You have finished the
   <span class="text-yellow-500">Royal</span> Journey.
</div>
</div>


{% endblock %}