
{% extends 'base.html' %}

{% block content %}
<script src="{{ url_for('static', filename='js/kingdom-4.js') }}"></script>


<div class="h-screen fixed left-60 top-14 w-fit cursor-[url(/static/images/WindTrackerCursorSmall.png),_pointer]">
    <div class="font-mono text-5xl font-semibold text-white">Wind Speed Simulation</div>
    <div class="h-4/6 w-fit mt-5"><img src="/static/images/AntarcticaBlank.svg" class="h-full"></div>
    <div class="h-60 w-80 bg-red-400 translate-x-52 -translate-y-60 fixed" id="medSpeedBox" value="5.5 m/s" ></div>
    <div class="h-48 w-48 bg-red-300 translate-x-72 -translate-y-48 fixed" id="lowSpeedBox" value="7.1 m/s" ></div>
    
</div>

<div class="border-8 border-yellow-500 h-2/6 w-64 right-80 top-36 absolute ">
    <div class="ml-2 mt-2 text-4xl font-mono text-white">
    <span class="underline font-semibold">Wind Speed</span> 
    <br><div class="text-center mt-10" id ="speedDisplay">19 m/s</div>
    
</div>
</div>


{% endblock %}