
{% extends 'base.html' %}

{% block content %}
<script src="{{ url_for('static', filename='js/smth.js') }}"></script>


<div class="h-screen fixed left-[10%] top-[11%]">
    <div class="font-mono text-5xl font-semibold text-white">Extreme Winds</div>
    <div class="h-4/6 w-fit mt-5 animate-fadeRight "><img src="/static/images/AntarcticaBlank.svg" class="h-full"></div>

</div>

<div class="border-8 border-yellow-500 h-4/6 w-[24%] right-[23%] top-[21%] absolute  ">
    <div class="ml-2 mt-2 text-2xl font-mono text-white">
    <span class="underline font-semibold">Wind Speed</span> 
    <br>Windspeeds can get much more intense. One December in 1960, winds reached an estimated 225-250 kph.
    <br><br>Cold dense air slopes off of highland interior and can pick up turbulence and high velocity
    <br><br> This causes snow to be picked up as well.<sub>2</sub>
    
</div>


<a href="/kingdom-4">
    <button id="pageButton" class="bg-green-700 transition-colors ease-in-out duration-500 hover:bg-yellow-500 text-white text-3xl font-semibold font-mono py-2 px-4 border h-[30%] w-[13%] rounded z-30 top-[38%] right-[5%] fixed">
        Proceed
    </button>
    </a>



{% endblock %}